@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

body {
  background-color: black;
  margin: 0;
}

.line {
  position: absolute;
  background-color: white;
}

.horizontal {
  width: 100%;
  height: 1px;
}

.vertical {
  height: 100%;
  width: 1px;
}

.target {
  position: absolute;
  transform: translate(-50%, -50%);
}

.tag {
  color: white;
  font-size: 25px;
  font-family: "Libre Baskerville", serif;
  position: absolute;
  transform: translate(25px, 15px);
}
