@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

body {
  background-color: black;
}

.line {
  position: absolute;
  background-color: white;
}

.horizontal {
  width: 100%;
  height: 1px;
  top: 50%;
}

.vertical {
  height: 100%;
  width: 1px;
  left: 50%;
}

.target {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tag {
  color: white;
  font-size: 25px;
  font-family: "Libre Baskerville", serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(25px, 15px);
}
